<div class="bacground">
  <div>
    <div class=" flex-column d-flex justify-content-center container">

      <div class="text-center w-100 pt-4">
        <img class="format-title" src="../../assets/song-xanh-final.png">
      </div>

      <p class="format-text">
        Hướng đến một cuộc sống xanh an lành, bền vững và mang đến không chỉ là một ngôi nhà mà còn là một không gian
        sống hiện
        đại, đẳng cấp, một cộng đồng dân cư ưu tú, Eco Green Saigon được xây dựng và phát triển dựa trên 5 tiêu chuẩn
        xanh khác
        biệt. Tại đây, 70% diện tích được dùng để phát triển tiện ích và không gian xanh mang đến trải nghiệm sống
        tuyệt
        vời cho
        cư dân mọi độ tuổi, để những phút giây an yên bên gia đình thêm phần ý nghĩa và trọn vẹn.

      </p>
      <p class="format-text">
        Eco Green Saigon được quy hoạch và phát triển đồng bộ để trở thành Tổ hợp Thương mại, Dịch vụ, Khách sạn, Nhà
        ở
        cao cấp,
        toạ lạc ngay mặt tiền Nguyễn Văn Linh – liền kề Phú Mỹ Hưng. Dự án đã và đang được hình thành, mang đến một
        lựa
        chọn
        sống mới – “Sống xanh mỗi ngày” cho cư dân TP.HCM.
      </p>

    </div>
  </div>
  <div class="">
    <div class="row ">
      <div class="col-lg-1 "></div>
      <div class="col-12 col-sm-12 col-lg-2 col-md-6 pt-5" *ngIf="state1" @BoundUp>
        <div class="text-center w-100">
          <img class="format-img " src="../../assets/1.svg">
        </div>

        <p class="h5 pt-2">KHÔNG GIAN XANH</p>
        <p class="w-100 text-center">Eco Green Saigon toạ lạc liền kề Phú Mỹ Hưng – khu vực được quy hoạch phát triển
          đồng bộ có mật độ xây dựng
          thấp, ngay
          sát công viên HươngTràm rộng 22 ha và sở hữu công viên nội khu rộng 3,5 ha.</p>

      </div>
      <div class="col-12 col-sm-12 col-lg-2 col-md-6 " *ngIf="state2" @BoundUp>
        <div class="text-center w-100">
          <img class="format-img " src="../../assets/2.svg">
        </div>
        <p class="h5 pt-2">THIẾT KẾ XANH</p>
        <p class="w-100 text-center">Các toà nhà tại Eco Green Saigon được thiết kế theo hình cánh quạt, mỗi toà đều sở
          hữu 2-3 mặt thoáng. Mật độ
          xây dựng
          thấp chỉ 11 căn hộ/mặt bằng, với 10/11 căn đều là căn góc 2 mặt thoáng.</p>
      </div>

      <div class="col-12 col-sm-12 col-lg-2 col-md-4 pt-5" *ngIf="state3" @BoundUp>
        <div class="text-center w-100">
          <img class="format-img " src="../../assets/3.svg">
        </div>
        <p class="h5 pt-2">TRANG THIẾT BỊ XANH</p>
        <p class="w-100 text-center">Hệ thống trang thiết bị và vật liệu xây dựng của Eco Green Saigon đều là những sản
          phẩm thân thiện môi
          trường,
          tiết kiệm
          điện năng, tiết kiệm nước đến từ các thương hiệu quốc tế như: Otis, Daikin, Teka, Bosch…</p>
      </div>
      <div class="col-12 col-sm-12 col-lg-2 col-md-4" *ngIf="state4" @BoundUp>
        <div class="text-center w-100">
          <img class="format-img " src="../../assets/4.svg">
        </div>
        <p class="h5 pt-2">TIỆN ÍCH XANH</p>
        <p class="w-100 text-center">Hệ thống tiện ích tại Eco Green Saigon được tính toán kỹ lưỡng đảm bảo không gian
          giải trí, rèn luyện sức
          khoẻ cho cư
          dân mọi độ tuổi, để mọi thế hệ trong gia đình đều có thể vui sống xanh mỗi ngày.</p>
      </div>
      <div class="col-12 col-sm-12 col-lg-2 col-md-4 pt-5" *ngIf="state5" @BoundUp>
        <div class="text-center w-100">
          <img class="format-img " src="../../assets/4.svg">
        </div>

        <p class="h5 pt-2">VỊ TRÍ XANH</p>
        <p class="w-100 text-center">Sở hữu vị trí đắc địa ngay Quận 7 (khu vực có mật độ không gian xanh cao hơn các
          khu vực khác), nằm ngay mặt
          tiền Nguyễn
          Văn Linh nên Eco Green Saigon dễ dàng kết nối đến các khu vực trong thành phố và có tiềm năng gia tăng giá trị
          cao.</p>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>

</div>