<div class="container d-flex flex-column justify-content-center pt-5 pb-5">

    <div class="w-100 text-center">
        <img class="format-img" src="../../assets/T_giai-thuong1.png">
    </div>

    <p class="w-100 text-center"><strong>Nhà Sang – Tậu Thêm Vàng,</strong> Tổng Giá Trị Giải Thưởng Lên Đến 500 Triệu
        Đồng</p>
    <div class="row">
        <div class="col-md-1 "></div>
        <div class="col-6 col-sm-6 col-md-2 col-lg-2" @slideInUpAnimation *ngIf="state1">
            <img src="../../assets/8-01.svg">
        </div>
        <div class="col-6 col-sm-6 col-md-2 col-lg-2" @slideInUpAnimation *ngIf="state2">
            <img src="../../assets/9-01.svg">
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2" @slideInUpAnimation *ngIf="state2">
            <img src="../../assets/10-01.svg">
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2" @slideInUpAnimation *ngIf="state4">
            <img src="../../assets/11-01.svg">
        </div>
        <div class="col-4 col-sm-4 col-md-2 col-lg-2" @slideInUpAnimation *ngIf="state5">
            <img src="../../assets/12-01.svg">
        </div>
        <div class="col-md-1"></div>

    </div>



</div>