.background{
    width: 100% !important;
    height: 100% !important;
}
::ng-deep  iframe{
    height: 100vh !important;
    width :  100% !important;
    }
    youtube-player {
        width: 100% !important;
    }
