<div class="container-slide">
  <swiper [config]="config" class="text-center">
    <div class="swiper-slide">
      <div class="swiper-container">
        <img src="../../assets/hinh-02.png">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-container">
        <img src="../../assets/hinh-03.png">
      </div>

    </div>
    <div class="swiper-slide">
      <div class="swiper-container">
        <img src="../../assets/hinh-04.png">
      </div>

    </div>
    <div class="swiper-slide">
      <div class="swiper-container">
        <img src="../../assets/hinh-05.png">
      </div>

    </div>
    <div class="swiper-slide">
      <div class="swiper-container">
        <img src="../../assets/hinh-06.png">
      </div>
    </div>
    <div class="swiper-button-next  swiper-button-black">

    </div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>